* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root  {
  --white: #FFF;

  --gray-50: #F7F8FA;
  --gray-100: #E6E8EB;
  --gray-200: #AFB2B1;
  --gray-500: #808080;
  --gray-800: #494D4B;

  --green-500: #04D361;
  
  --purple-300: #9F75FF;
  --purple-400: #9164FA; 
  --purple-500: #8257E5;
  --purple-800: #6F48C9;

  --theme-dark: #121214;
  --theme-light:#F7F8FA;
}


@media (max-width: 1080px) {
   
   html {
      font-size: 93.75%; //15px
   }
}

@media (max-width: 1080px) {
   
   html {
      font-size: 87.5%; //14px
   }
}

body {
   background: var(--gray-50);
}
body, input, textarea, button {
   font: 500 1rem Inter, sans-serif;
   color: var(--gray-500);
}

h1, h2, h3, h4, h5, h6 {
   font-weight: 600;
   font-family: Lexend, sans-serif;
   color: var(--gray-800);
}

h1 {
   font-size: 2rem;
}

h2 {
   font-size: 1.5rem;
}

button {
   cursor: pointer;
}


/* --------- DARK MODE ------------*/

.light-theme.actived {
   background: var(--light-dark);
}
.dark-theme.actived {
  
   background: var(--theme-dark);
   
   main > header {
      background: #000000;   
   } 
   
   main header  {      
      border: 0;
   } 
   main {
      section {
            
            h2 {
               color:var(--gray-100);
            }

            li {
               background: #1b1b1b;
               border-color: var(--gray-800);
               
               a {
                  color:var(--gray-50);
               }
               
               p, span {
                  color:var(--gray-100);
               }
            
               button {
                  background:var(--purple-800);
                  border-color: var(--purple-800);
               }
            }          
      }
   }

   .wrap_homepage {
      background: var(--theme-dark);
   }

   /* play sidebar  */
   aside.control-painel > div {
      background-color: #1b1b1b;
      background:linear-gradient(53deg,  #1b1b1b 60%, #000000 10%)     
   }
  
}
/*end dark mode*/


/* Sidebar Control Play */
.control-painel  {
  width: 26.5rem;  
  position: relative;  
  transition: 0.3s;
}

.slide-button {
   display: none;
}

@media(max-width: 800px) {

   @media only screen and (orientation:landscape){
      body {   
        transform: rotate(90deg);    
      }
    }
   .control-painel  {         
      position: absolute;  
      left: -100%;     
      top: 7rem;
      

      &.actived  {            
         left: 0;  
         width: 25rem;         
      }
      
      .slide-button {
         display: block;
         position: absolute;
         right: -1.5rem;
         top: 45%;      
         background-color:transparent;
            
         button {
            display: flex;
            justify-content: center;
            align-items: center;

            height: 3rem;
            width: 3rem;
            font-size: 2rem;
            color: var(--gray-500);  
            background-color: var(--gray-50);            
            border:2px solid var(--purple-500);         
            border-radius: 50%;
            transition: 0.5s;
         }

         &.active {            
            button {
               color: var(--green-500);
               transform: rotate(180deg);               
            }
         }      
      } 
   }
}

/* mobile screen */

@media(max-width: 768px) {
   .control-painel {
      left: -48%;      
   }
}

@media(max-width: 540px) {
   .control-painel {
      left: -68%;      
   }
}

@media(max-width: 420px) {
   .control-painel {
      left: -88%;
   }
}
@media(max-width: 400px) {
   .control-painel {
      left: -94%;
   }
}
@media(max-width: 375px) {
   .control-painel {
      left: -100%;       
   
      &.actived {
         width: 23rem; 
      }
   }
   
}

@media(max-width: 350px) {   
   .control-painel  {              
      left: -105%;           
   }
}

@media(max-width: 345px) {   
   .control-painel  {              
      left: -110%;           
   }
}

@media(max-width: 330px) {   
   .control-painel  {              
      left: -110%;           
   }
}
@media(max-width: 320px) {   
   .control-painel  {              
      left: -115%;      
      &.actived {
         width: 20rem; 
      }     
   }
}
@media(max-width: 300px) {   
   .control-painel  {              
      left: -120%;           
   }
}
@media(max-width: 280px) {   
   .control-painel  {              
      left: -133%;           
   }
}

